.step1__left-arrow{
    background: url(/src/images/arrow-right.svg) no-repeat center;
    border: none;
    width: 160px;
    height: 160px;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 10;
}

.step1__left-arrow:hover{
    transition: opacity 0.3s;
    opacity: 0.5;
}

.step1__left-arrow:disabled{
    transition: opacity 0.3s;
    opacity: 0.5;
}

@media screen and (max-width: 480px) {
    .step1__left-arrow{
        position: fixed;
        left: 0;
        top: calc(50vh - 80px);
        width: 40px;
        height: 160px;
    }
}